### react ###
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*

node_modules
bower_components

*.sublime*

psd
thumb
sketch

### Java/Gradle build outputs ###
build/
.gradle/
out/

### IDE ###
.idea/
.vscode/

### OS ###
.DS_Store

### Docker ###
*.log
